body{
    background: black;
    font-weight: 200;
    color: white;
}
.red{
    color: red;
}
.ora{
    color: orangered;
}
.yel{
    color: yellow;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.deep_blue{
    color: blue;
}
.purple{
    color: purple;
}